 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: mistyrose
  
}

h2 {
  padding: 20px;
  font-size: 30px;
  color: cornflowerblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-size: 50px;
  text-decoration: underline;
  color: blueviolet;
  font-family: cursive;
}


button {
  outline: none;
  border: 4px solid red;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.game-area {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 360px;
  height: 360px;
  
  
}

.block {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
  
  
}

.block:hover {
  cursor: pointer;
  background-color: white;
}

.taken:hover {
  background-color: gray;
}

#block_1,#block_2,#block_3 {
  border-top: none;
}

#block_1,#block_4,#block_7 {
  border-left: none;
}

#block_7,#block_8,#block_9 {
  border-bottom: none;
}

#block_3,#block_6,#block_9 {
  border-right: none;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.4;
}

h3 {
  padding: 10px;
  color: cadetblue;
}


